@font-face {
  font-family: 'Aeh';
  src: url('./AEH.ttf');
}

@font-face {
  font-family: 'AvenirBlack';
  src: url('./Avenir LT 95 Black.ttf');
}

@font-face {
  font-family: 'AvenirStd';
  src: url('./AvenirLTStd-Roman.otf');
}
