.home {
  margin-top:3.5em;
  position: relative;
  background-color: $secondaryBackground;
  .caption-container{
    color: $secondaryTextColor;
    position: absolute;
    z-index: 1;
    top: 0px;
    z-index: 1;
    margin: 0px;
    padding: 0 120px;
    font-size: 1em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    .title {
      font-size: 38px;
      margin: 0px;
      font-weight: 700;
      font-family: 'AvenirBlack', 'sans-serif';
    }
    .graduation-image {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}